<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link</title>
    <link rel="stylesheet" href="css/link.css">
<body>
    <!-- <div id="APP">{{title}}</div> -->
    <h1><%= title %></h1>
    <% for(var i=0; i<links.length; i++) {%>
        <section class="group">
            <h5 class="group-title"><%= links[i].name %></h5>
            <ul class="group-list">
                <% for(var j=0; j<links[i].val.length; j++) {%>
                    <li class="group-item">
                        <a href="<%= links[i].val[j].url %>" target="_blank"><%= links[i].val[j].name %></a>
                    </li>
                <% } %>
            </ul>
        </section>
     <% } %>
    <script src="js/link.js"></script>
</html>
