<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title >Play</title>
    <link rel="stylesheet" href="css/play.css">
    <script src="js/play.js"></script>
</head>

<body id="t" class="runner">
    <div id="tff-wrapper" class="tff-wrapper">
        <div style="display:none">
            <img id="resources-1x" src="img/play/default_100_percent/100-sprite.png">
            <img id="resources-2x" src="img/play/default_200_percent/200-sprite.png">
        </div>
    </div>
    <div class="ctrl-box">
        <div id="stop" class="ctrl-stop ctrl-btn">stop</div>
        <div id="jump" class="ctrl-jump ctrl-btn">jump</div>        
    </div>
</body>

</html>