.container {
  padding: 48px;
  width: 60%;
  margin: auto; }

.tag-group-name {
  font-weight: bold;
  width: 80px;
  min-width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #0092CA; }

.tag-list {
  overflow: hidden; }
  .tag-list .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 48px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
    padding: 12px 0; }
  .tag-list .tag-item {
    float: left; }
    .tag-list .tag-item a {
      display: block;
      text-decoration: none;
      padding: 0 16px;
      color: #393E46; }
      .tag-list .tag-item a:hover {
        color: #222831;
        text-decoration: underline; }
    .tag-list .tag-item .tag-name {
      font-size: 18px; }

.txt-help {
  color: #888;
  font-size: .8em; }
.tag-form.active {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: block; }

.tag-form .form-item input {
  width: 100%;
  margin-bottom: 32px;
  line-height: 32px;
  padding: 12px 24px;
  font-size: 18px;
  background: #EEE;
  border: 4px solid #363636; }

.tag-form .form-item .button {
  background: #CCC;
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
  border: 4px solid #363636; }

.tag-form .btn-close {
  color: #CCC;
  font-size: 32px;
  font-family: sans-serif;
  position: absolute;
  top: 24px;
  right: 48px;
  cursor: pointer; }

.tag-form .btn-create {
  margin-right: 24px; }
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', 'sans-serif';
    font-size: 16px;
}

body {
    background: #EEEEEE;
}

input {
    line-height: 24px;
    padding: 4px;
    outline: none;
    border: none;
}

button, input {
    font-family: 'Microsoft Yahei', 'sans-serif';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.button {
    background: #fff;
    padding: 12px 24px;
    border: 1px solid #aaa;
    outline: none;
    cursor: pointer;
}

