.container {
    padding: 48px;
}

.tag-group-name {
    font-weight: bold;
}

.tag-list {
    overflow: hidden;

    .tag-item {
        padding: 12px;
        float: left;
        line-height: 24px;

        a {
            display: block;
            text-decoration: none;
            color: #002369;
        }

        .tag-name {
            font-size: 18px;
        }
    }
}

.txt-help {
    color: #888;
    font-size: .8em;
}
