.container {
    padding: 48px;
}

.tag-group-name {
    font-weight: bold;
    width: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag-list {
    overflow: hidden;

    .row {
        display: flex;
        line-height: 48px;
    }

    .tag-item {
        padding: 0 12px;
        float: left;

        a {
            display: block;
            text-decoration: none;
            color: #002369;
        }

        .tag-name {
            font-size: 18px;
        }
    }
}

.txt-help {
    color: #888;
    font-size: .8em;
}
