body, html {
    color: #000;
    margin: auto;
    background: #f1f5f8;
    font-family: Helvetica Neue,PingFang SC,Microsoft YaHei;
}

body {
    padding: 0 24px 48px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
    margin: 12px 0;
}

.page-title {
    color: #6cb5dc;
}

.group {

}

.group-title {
    margin-bottom: 16px;
    line-height: 34px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: normal;
    color: #999;
}

.group-item {
    float: left;
    background: #FFF;
    border-radius: 2px;
    margin: 0 24px 16px 0;
    transition: all .2s ease-out;
}

.group-item > a {
    width: 120px;
    min-width: 120px;
    height: 60px;
    line-height: 24px;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 16px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: color .3s ease-out;
    letter-spacing: .2px;
}

.group-item:hover {
    box-shadow: 0 6px 16px 0 #d6e0e8;
}

.group-item > a:hover {
    color: #00a4ec;
}

@media screen and (min-width: 769px){
    body {
        width: 60vw;
        margin: auto;
    }
}