body, html {
    color: #666;
    margin: auto;
    background: #efefef;
    font-family: Helvetica Neue For Number,-apple-system,Segoe UI,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;    
}

body {
    padding: 0 24px 48px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
    margin: 12px 0;
}

.group-item {
    line-height: 32px;
    margin-left: 12px;
    padding-left: 8px;
    float: left;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background 600ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.group-item:hover {
    background: #000;
    border-radius: 2px;
}

.group-item:hover > a {
    color: #efefef;
}

.group-item > a {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}



h1 {
    color: #aaa;
}

@media screen and (min-width: 769px){
    body {
        width: 60vw;
        margin: auto;
    }
}