body, html {
    color: #000;
    margin: auto;
    background: #FFF;
    font-family: Helvetica Neue For Number,-apple-system,Segoe UI,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;    
}

body {
    padding: 0 24px 48px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
    margin: 12px 0;
}

.group {
    display: flex;
    margin-bottom: 12px;
}

.group-title {
    font-weight: lighter;
    white-space: nowrap;
    margin: 0;
    padding: 0 12px 0 0;
    line-height: 34px;
}

.group-item {
    line-height: 32px;
    float: left;
    width: 120px;
}

.group-item > a {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 6px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.group-item > a:hover {
    border: 2px solid #000;
}

@media screen and (min-width: 769px){
    body {
        width: 60vw;
        margin: auto;
    }
}