body, html {
    color: #333;
    margin: auto;
    background: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}

body {
    padding: 0 24px 48px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
    margin: 12px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-title {
    color: #6cb5dc;
    margin: 24px 0 36px;
}

.group {
    display: flex;
    margin-bottom: 48px;
}

.group-list {
    margin-bottom: -24px;
}

.group-title {
    margin-right: 24px;
    white-space: nowrap;
    font-size: 24px;
    font-weight: normal;
    color: #aaa;
    padding-right: 24px;
    border-right: 1px dashed #e0e0e0;
}

.group-item {
    float: left;
    background: #FFF;
    border-radius: 2px;
    margin: 0 16px 16px 0;
    transition: all .2s ease-out;
}

.group-item > a {
    width: 160px;
    min-width: 120px;
    height: 60px;
    line-height: 24px;
    display: block;
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 16px;
    border: 1px dashed #eaeaea;
    transition: color .3s ease-out;
    letter-spacing: .2px;
    box-shadow: 1px 1px 10px rgba(200, 200, 200, 0.4);
}

.group-item:hover {
    box-shadow: 0 6px 16px 0 #d6e0e8;
}

.group-item > a:hover {
    color: #00a4ec;
}
