/* Copyright 2013 The Chromium Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  margin: auto;
  font-family: Microsoft YaHei;
  background: #e63c46;  /* fallback for old browsers */
  background: -webkit-linear-gradient(225deg, #e63c46 ,#e63c46 18%, #0f127c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(225deg, #e63c46 ,#e63c46 18%, #0f127c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

img {
  width: 100%;
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-runner {
  content: -webkit-image-set( url(/img/play/default_100_percent/100-error-offline.png) 1x, url(/img/play/default_200_percent/200-error-offline.png) 2x);
  position: relative;
}

.hidden {
  display: none;
}

.play-game {
  position: fixed;
  top: 200px;
  left: 0;
  width: 100%;
}

.biaoti {
  width: 120px;
  position: absolute;
  top: -24px;
  left: 0;
  transform: rotate(-8deg);
}

.tff-wrapper {
    padding: 5px;
    background: rgba(0, 0, 0, .2);
    position: relative;
}

.runner .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

.runner .runner-container {
  height: 180px;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  width: 100%;

}

.runner .runner-canvas {
  height: 180px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  z-index: 2;
  background: #dff3ff;
}

.runner .controller {
  background: rgba(247, 247, 247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#resources {
  display: none;
}

.ctrl-box {
  display: flex;
  justify-content: space-around;
}

.ctrl-btn {
  height: 80px;
  width: 140px;
  line-height: 80px;
  text-align: center;
  border-radius: 60px;
  border: none;
  outline: none;
}

.ctrl-jump {
  color: #FFF;
  margin-top: 50px;
  background: #f9be68;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e82053, #f9be68);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e82053, #f9be68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

/* .ctrl-jump:focus, .ctrl-jump:active, .ctrl-jump:hover {
  background: #e82053;
} */

.ctrl-stop {
  background: #929292;
  color: #FFF;
}

@media (max-width: 420px) {
  .suggested-left > #control-buttons, .suggested-right > #control-buttons {
    float: none;
  }
  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }
  .icon-offline {
    margin: 0 0 10px;
  }
  .interstitial-wrapper {
    margin-top: 5%;
  }
  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .runner .interstitial-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation:landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .runner .interstitial-wrapper {
    margin-bottom: 90px;
  }
  .icon-runner {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-runner {
    margin-bottom: 0;
  }
  .runner .runner-container {
    top: 10px;
  }
}

@media (max-width: 240px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 8px;
  }
}