<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
<link href="/admin/css/style.css" rel="stylesheet"></head>
<body>
    <div id="APP"></div>
<script type="text/javascript" src="/admin/js/vendor.4f08d57c.js"></script><script type="text/javascript" src="/admin/js/app.js"></script></body>
</html>
